@page
@model AspnetCoreSearchTerm.Pages.SearchTerms.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SearchTerm[0].SearchKeyword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SearchTerm[0].SearchBarFieldType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SearchTerm[0].PageSearchEnter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SearchTerm[0].SearchSequence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SearchTerm[0].SearchDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SearchTerm[0].SearchByUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SearchTerm) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SearchKeyword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SearchBarFieldType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageSearchEnter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SearchSequence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SearchDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SearchByUser)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
